<a href="https://colab.research.google.com/github/robarikita/demo/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.
# Example for list
fruits = ["apple", "banana", 42, True]
print("First item:", fruits[0])
print("Length:", len(fruits))

# Example for dictionary
user = {"name": "roba", "age": 21, "is_student": True}
print("Age:", user["age"])
print("Keys:", user.keys())

# Example for numpy array
import numpy as np
temperatures = np.array([23.5, 22.1, 24.8])
print("Mean temp:", temperatures.mean())
print("Doubled:", temperatures * 2)

First item: apple
Length: 4
Age: 21
Keys: dict_keys(['name', 'age', 'is_student'])
Mean temp: 23.46666666666667
Doubled: [47.  44.2 49.6]

List: is a flexible, ordered collection that can hold anything (numbers, text, etc.)
     that allow duplicates which can be accessible using indexes. where items stay in order and which is mutable that can be changed.

  dictionary: is a collection of key-value pairs, where each key is unique and must be mutable
          and retrieve things using a key (like a name tag) instead of a position and it is used for quick lookups


 NumPy array: is like a high-performance spreadsheet column—it’s built for numbers only, super fast for math,
          and lets you do operations and scientific computing on entire datasets at once. and it is a grid of values which is usually all of the same data type.

In [ ]:
# 2.
def SquareOfEvensNum(num):
    SquareOfEvensNum = []
    for i in num:
        if i % 2 == 0:
            SquareOfEvensNum.append(i**2)
    return SquareOfEvensNum

In [ ]:
#3.
x=[1,2,3]
y=x
y.append(7)
print(x)

[1, 2, 3, 7]

# 3. the output of the code is :: [1, 2, 3, 7]
because
y = x : It makes y point to the same list in memory as x.
y.append(7) :  modifies that shared list by adding 7.

So, both x and y refer to the same list, and any changes made on y are also seen affect x.

In [ ]:
#4 .
import pandas as pd
data = {
    "Age": [25, 30, 35, 40, 22],
    "Salary": [50000, 60000, 75000, 90000, 48000],
    "Department": ["HR", "Tech", "Tech", "Finance", "HR"]
}
df = pd.DataFrame(data)
print("Shape:", df.shape)
print("\nSummary Statistics:")
print(df.describe())

Shape: (5, 3)

Summary Statistics:
             Age        Salary
count   5.000000      5.000000
mean   30.400000  64600.000000
std     7.300685  17770.762505
min    22.000000  48000.000000
25%    25.000000  50000.000000
50%    30.000000  60000.000000
75%    35.000000  75000.000000
max    40.000000  90000.000000

shape: Returns a tuple (rows, columns) showing the dimensions of your DataFrame.
Example: (100, 5) means 100 rows and 5 columns.

describe()
Generates summary statistics for numerical columns:
Count, mean, standard deviation (std), min/max, and quartiles (25%, 50%, 75%).
For categorical data, it shows count, unique values, and top frequency.

In [ ]:
#5.
import pandas as pd
url = "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"
df = pd.read_csv(url)
df.head()

  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472

Columns and values are wrapped in " " (e.g., "Month", "JAN").

it Requires cleaning for seamless analysis (e.g., df.columns.str.strip('"')). it also
Confirmed with df.info() – all 12 months have data for each year and there is no missing value and
Passenger counts increase every year (e.g., January: 340 → 360 → 417). there is also Peaks in spring (MAR-MAY), dips in winter (JAN-FEB).   
December 1960 (461) > November 1960 (431) – unusual for holiday travel in the potential issues.

In [ ]:
#6.
import pandas as pd
url = "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"
df = pd.read_csv(url)
df.columns = df.columns.str.strip()
print(df.columns)
df.rename(columns=lambda x: x.strip(), inplace=True)
print(df.columns)
df = df[df['Month'].str.upper() != 'TOTAL']
year_col = [col for col in df.columns if '1958' in col][0]
df[year_col] = pd.to_numeric(df[year_col], errors='coerce')
max_passengers = df[year_col].max()
max_month = df.loc[df[year_col] == max_passengers, 'Month'].values[0]
min_passengers = df[year_col].min()
min_month = df.loc[df[year_col] == min_passengers, 'Month'].values[0]
print(f"Month with the highest passengers in 1958: {max_month} ({max_passengers}k)")
print(f"Month with the lowest passengers in 1958: {min_month} ({min_passengers}k)")

Index(['Month', '"1958"', '"1959"', '"1960"'], dtype='object')
Index(['Month', '"1958"', '"1959"', '"1960"'], dtype='object')
Month with the highest passengers in 1958: AUG (505k)
Month with the lowest passengers in 1958: NOV (310k)

In [ ]:
#7.
import pandas as pd
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance'],
    'Employee': ['rio', 'roba', 'moi', 'abdi', 'amiko', 'osman'],
    'Salary': [50000, 55000, 60000, 62000, 58000, 59000]
}

df = pd.DataFrame(data)
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
Finance    58500.0
HR         52500.0
IT         61000.0
Name: Salary, dtype: float64

groupby(): function in pandas is used to split data into groups based on some criteria, apply a function to each group, and combine the results.

In [ ]:
#8.
import seaborn as sns
import pandas as pd
titanic = sns.load_dataset('titanic')
missing_values = titanic.isnull().sum()
print(missing_values)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
#9.
import pandas as pd
import matplotlib.pyplot as plt
data = {'Age': [22, 25, 28, 30, 32, 35, 38, 40, 42, 45,
                50, 52, 55, 60, 65, 70, 75, 22, 24, 26,
                28, 30, 32, 35, 38, 40, 42, 45, 50, 55]}
df = pd.DataFrame(data)
df["Age"].hist(bins=10, edgecolor='black')
plt.title("Age Distribution")
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.show()

The histogram will typically show a right-skewed distribution which is long tail on the right, that means:
Most people are clustered at younger ages those left side
Fewer individuals at older ages those right side

In [ ]:
#10.
import pandas as pd
import numpy as np
lowStd = [10, 11, 9, 10, 12, 10, 11]
highStd = [1, 20, 5, 30, 2, 50, 10]
df = pd.DataFrame({
    "Low_Std_Dev": lowStd,
    "High_Std_Dev": highStd
})
stats = df.agg(["mean", "std"])
print(stats)

      Low_Std_Dev  High_Std_Dev
mean    10.428571     16.857143
std      0.975900     17.985444

If there is high standard deviation (std. dev.) means that data points are spread out widely from the mean (average). This determines that there is high variability in the data and values are less consistent and more unpredictable also there is possible outliers or extreme values affecting the distribution.

In [ ]:
#11.
#1.E-Commerce Recommendation Systems: it has the problem of missing user behavior data (e.g., clicks, purchases) due to technical glitches and
         # recommends irrelevant products because full user preferences aren't known

#2.Climate Change Research: it has the problem of missing historical temperature or precipitation records from certain regions which leads to
#incomplete climate models may underestimate regional warming trends and could lead to flawed predictions about extreme weather events